.o-badge {
  &--type {
    width: 60px;
    display: inline-block;
    background-color: var(--light, #aaa);
    border: 1px solid var(--dark, #aaa);
    border-radius:32px;
    color: var(--color, #fff);
  }
}