<footer class="l-layout__footer l-footer">
  <div class="l-footer__body">
    <div class="l-footer__logo">
      <a href="{{ "/" | relative_url }}">{{- site.title | escape -}}</a>
		  <span>© 2018 </span>
    </div>
    <div class="l-footer__list">
      {{page.footer}}
    </div>
    <div class="js-marker">
      <i class="fas fa-circle js-marker__enabled" style="color:green;" title="javascript"></i>
      <i class="far fa-circle js-marker__disabled" style="color:red;" title="noscript"></i>
      
      <i class="fas fa-circle js-marker__es6" style="color:blue;" title="es6"></i>
      <i class="far fa-circle js-marker__polyfill" style="color:yellow;" title="polyfill"></i>
      
      <i class="far fa-circle js-marker__loading" style="color:purple;" title="loading"></i>
      <i class="fas fa-circle js-marker__loaded" style="color:brown;" title="loaded"></i>
    </div>
  </div>
</footer>