@import "color";

@import "layout/responsive";
@import "layout/layout";
@import "layout/header";
@import "layout/footer";
@import "layout/main";

@import "objects/type";

@import "components/tab";
@import "components/breadcrumb";
@import "components/hexagon";

html {
  overflow-y: scroll;
}

table.table td {
  vertical-align: middle;
}

.p-page__control {
margin-bottom:1em;
}

.p-infotable {
  th,
  td:first-child {
    width: 20%;
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
  }
  tr:first-child td {
    border-top: none;
  }
}

.c-loading {
  &__icon {
    font-size: 24px;
  }
  &--step-2 {
    color: green;
  }
  &--step-9 {
    color: red;
  }
}