---
layout: page
---
{% assign gameKey = page.url | split: "/" | shift | first %}

<div class="l-page">
  <div class="l-page__header">
    <h1 class="mb-3 mt-1">
      <a href="{{page.url}}">{{ page.title}}</a>
      </h1>
    <hr>
  </div>
  <div class="l-page__body">
    
    {{ content }}
    
{% for item in site.data.nav[gameKey].nav %}
  <ul class="p-gametoc">
    <li class="p-gametoc__header">{{ item.group }}</li>
    {% for entry in item.nav %}
    <li class="p-gametoc__item">
      <a href="{{ entry.url | relative_url }}">
        <i class="nav-icon fas fa-{{ entry.icon | default: item.icon | default: 'tag' }}"></i>
        {{ entry.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endfor %}

<!--
{% for item in site.data.nav[gameKey].nav %}
  <div class="list-group m-2 mb-4" style="font-size:16px;">
      <div class="list-group-item list-group-item-info">{{ item.group }}</div>
  {% for entry in item.nav %}
      <a href="{{ entry.url | relative_url }}"  class="list-group-item list-group-item-action">
        <i class="nav-icon fas fa-{{ entry.icon | default: item.icon | default: 'file' }}"></i>
        {{ entry.name }}
      </a>
  {% endfor %}
  </div>
{% endfor %}
-->
  </div>
  <div class="l-page__footer">
  </div>
</div>