---
layout: page
---
<div class="l-page">
  <div class="l-page__header">
    <h1 class="mb-3 mt-1">
      <a class="l-page__title" href="{{page.url}}">{{ page.title}}</a>
      <span class="l-page__subtitle" ></span>
    </h1>
    <hr>
  </div>
  <div class="l-page__body">
    <div class="l-content">{{ content }}</div>
    <div class="l-dynamic"></div>
  </div>
  <div class="l-page__footer">
  </div>
</div>
{% comment %}
<!--
{% if page.wiki %}
    <div class="alert alert-primary" role="alert">
      在百科中查看<a href="http://www.pokemon.name/wiki/{{page.wiki}}">{{page.wiki}}</a>。
    </div>
{% endif %}
-->
{% endcomment %}