.l-footer {
  font-size:xx-small;
  //font-weight:bold;
  //line-height: 20px;
  background-color: #f2f2f2;
  //height: 60px;
  border-top: 1px solid #ccc;

  &__body {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    text-align: center;
    width: var(--main-width);
    margin: auto;
  }
  
  &__list {
    flex: 1;
    list-style: none;
    padding: 0;
    margin-left: 10px;
    
    li {
      display: block;
      float: left;
      margin-right: 16px;
      line-height: 20px;
    }
  }
}



// js-marker
.js-marker * {
 display: none;
}

.js-enabled .js-marker__enabled,
.js-disabled .js-marker__disabled,
.js-es6 .js-marker__es6,
.js-polyfill .js-marker__polyfill,
.js-loading .js-marker__loading,
.js-loaded .js-marker__loaded
{ display: inline; }